<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div class="form-centered">
                
                <span class="login100-form-title">
                    Please check your email
                </span>

                <div class="txtcentered">
                An email has been sent to the address you provide.
                Please follow the directions in the email to reset your password.
                </div>
                
                <div class="container-login100-form-btn">
                    <a class="login100-form-btn" href="~/Home">
                        <button class="login100-form-btn" name="button">
                            Back
                        </button>
                    </a>
                </div>


            </div>
            
            <a class="txt2 centered-footer">Powered by Petwish</a>
        </div>
    </div>
</div>