<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div class="form-centered">
                
                <span class="login100-form-title">
                    Success!
                </span>

                <div class="txtcentered">
                Your password has been successfully reset.
                You can login now with your email and newly defined password.
                </div>
                
                <div class="container-login100-form-btn">
                    <a class="login100-form-btn" href="~/Account/Login">
                        <button class="login100-form-btn" name="button">
                            Login
                        </button>
                    </a>
                </div>

            </div>
            
            <a class="txt2 centered-footer">Powered by Petwish</a>
        </div>
    </div>
</div>