*.targets
*.props
*.txt
*.CopyComplete
*.ide-wal
*.ide-shm
*.ide
*.lock
*.dll
*.pdb
*.target
*.targets
*.cache
*.props
*/bin/*
*/obj/*
output
*.userprefs
*.csproj.user
*.log

.DS_Store
.vs/
.vscode/
.idea/
riderModule.iml
Authorization.sln.DotSettings.user

